BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 10px 10px; FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 0px; BACKGROUND-COLOR: #e1e1e2
}
A:link {
	COLOR: #22229c
}
A:visited {
	COLOR: #22229c
}
A:hover {
	COLOR: #ff4400
}
A:active {
	COLOR: #ff4400
}
.page {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
TH {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
P {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
LI {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.tborder {
	BORDER-RIGHT: #0b198c 1px solid; BORDER-TOP: #0b198c 1px solid; BORDER-LEFT: #0b198c 1px solid; COLOR: #000000; BORDER-BOTTOM: #0b198c 1px solid; BACKGROUND-COLOR: #d1d1e1
}
.tcat {
	BACKGROUND: url(../../images/gradients/gradient_tcat.gif) #869bbf repeat-x left top; FONT: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff
}
.tcat A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tcat A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.tcat A:hover {
	COLOR: #ffff66; TEXT-DECORATION: underline
}
.tcat A:active {
	COLOR: #ffff66; TEXT-DECORATION: underline
}
.thead {
	BACKGROUND: url(../../images/gradients/gradient_thead.gif) #5c7099 repeat-x left top; FONT: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff
}
.thead A:link {
	COLOR: #ffffff
}
.thead A:visited {
	COLOR: #ffffff
}
.thead A:hover {
	COLOR: #ffff00
}
.thead A:active {
	COLOR: #ffff00
}
.tfoot {
	COLOR: #e0e0f6; BACKGROUND-COLOR: #3e5c92
}
.tfoot A:link {
	COLOR: #e0e0f6
}
.tfoot A:visited {
	COLOR: #e0e0f6
}
.tfoot A:hover {
	COLOR: #ffff66
}
.tfoot A:active {
	COLOR: #ffff66
}
.alt1 {
	COLOR: #000000; BACKGROUND-COLOR: #f5f5ff
}
.alt1Active {
	COLOR: #000000; BACKGROUND-COLOR: #f5f5ff
}
.alt2 {
	COLOR: #000000; BACKGROUND-COLOR: #e1e4f2
}
.alt2Active {
	COLOR: #000000; BACKGROUND-COLOR: #e1e4f2
}
.wysiwyg {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #f5f5ff
}
TEXTAREA {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.bginput {
	FONT: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.button {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
SELECT {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTGROUP {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.smallfont {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.time {
	COLOR: #666686
}
.navbar {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.fjsel {
	COLOR: #e0e0f6; BACKGROUND-COLOR: #3e5c92
}
.fjdpth0 {
	COLOR: #000000; BACKGROUND-COLOR: #f7f7f7
}
.panel {
	BORDER-RIGHT: 2px outset; PADDING-RIGHT: 10px; BORDER-TOP: 2px outset; PADDING-LEFT: 10px; BACKGROUND: url(../../images/gradients/gradient_panel.gif) #e4e7f5 repeat-x left top; PADDING-BOTTOM: 10px; BORDER-LEFT: 2px outset; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: 2px outset
}
.panelsurround {
	BACKGROUND: url(../../images/gradients/gradient_panelsurround.gif) #d5d8e5 repeat-x left top; COLOR: #000000
}
LEGEND {
	FONT: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #22229c
}
.vbmenu_control {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; FONT: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #738fbf
}
.vbmenu_control A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_control A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_popup {
	BORDER-RIGHT: #0b198c 1px solid; BORDER-TOP: #0b198c 1px solid; BORDER-LEFT: #0b198c 1px solid; COLOR: #000000; BORDER-BOTTOM: #0b198c 1px solid; BACKGROUND-COLOR: #ffffff
}
.vbmenu_option {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; CURSOR: pointer; COLOR: #000000; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #bbc7ce
}
.vbmenu_option A:link {
	COLOR: #22229c; TEXT-DECORATION: none
}
.vbmenu_option A:visited {
	COLOR: #22229c; TEXT-DECORATION: none
}
.vbmenu_option A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; CURSOR: pointer; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #8a949e
}
.vbmenu_hilite A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.bigusername {
	FONT-SIZE: 14pt
}
TD.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.pagenav A {
	TEXT-DECORATION: none
}
.pagenav TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.fieldset {
	MARGIN-BOTTOM: 6px
}
.fieldset {
	FONT-SIZE: 11px
}
.fieldset TD {
	FONT-SIZE: 11px
}
.fieldset P {
	FONT-SIZE: 11px
}
.fieldset LI {
	FONT-SIZE: 11px
}
FORM {
	DISPLAY: inline
}
LABEL {
	CURSOR: default
}
.normal {
	FONT-WEIGHT: normal
}
.inlineimg {
	VERTICAL-ALIGN: middle
}
