A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline overline
}
BODY {
	FONT-SIZE: 11px; LEFT: 0px; FONT-FAMILY: Verdana; TOP: 0px; TEXT-ALIGN: left
}
TABLE {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
