UNKNOWN {
	COLOR: black; BACKGROUND-COLOR: rgb(255,222,173)
}
BODY {
	MARGIN-LEFT: 10%; MARGIN-RIGHT: 10%
}
H1 {
	FONT-SIZE: 150%; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 120%; FONT-FAMILY: Tahoma, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 110%; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: 110%; FONT-FAMILY: "Times New Roman", serif
}
PRE {
	FONT-SIZE: 100%; MARGIN-LEFT: 2%; FONT-FAMILY: "Courier New", Courier, monospace
}
P {
	PADDING-LEFT: 1em; FONT-SIZE: 100%; FONT-FAMILY: Verdana, sans-serif
}
P.hed {
	MARGIN-LEFT: -10%
}
DIV.aside {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0.5em; BORDER-TOP: medium none; PADDING-LEFT: 0.5em; FONT-SIZE: 80%; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 5%; BORDER-LEFT: medium none; WIDTH: 90%; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: rgb(240,240,208)
}
DIV.textad {
	FONT-SIZE: 14px; COLOR: #990000; FONT-FAMILY: courier, sans-serif; BACKGROUND-COLOR: rgb(255,255,191)
}
.textad {
	FONT-SIZE: 14px; COLOR: #990000; FONT-FAMILY: courier, sans-serif; BACKGROUND-COLOR: rgb(255,255,191)
}
TABLE.textad {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #000000 1px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center
}
DIV.ad {
	FONT-SIZE: 80%; COLOR: black; FONT-FAMILY: "MS Comic Sans", courier, sans-serif; BACKGROUND-COLOR: rgb(255,255,191)
}
