TD {
	FONT-SIZE: 68%
}
TH {
	FONT-SIZE: 68%
}
A {
	COLOR: #003399; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 90%; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003399; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 90%
}
A:hover {
	COLOR: red; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 90%; TEXT-DECORATION: underline
}
.tier1 {
	COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; FONT-SIZE: 75%; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-INDENT: 5px
}
.tier1over {
	COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana, arial, helvetica; FONT-SIZE: 75%; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-INDENT: 5px
}
.tier2 {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica; FONT-SIZE: 70%; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0px
}
.tier2:visited {
	COLOR: #003399; FONT-FAMILY: verdana, arial, helvetica; FONT-SIZE: 70%; TEXT-ALIGN: justify; TEXT-DECORATION: none; TEXT-INDENT: 0px
}
A.tier2:hover {
	COLOR: red; CURSOR: hand; FONT-FAMILY: verdana, arial, helvetica; FONT-SIZE: 70%; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-INDENT: 5px
}
P {
	FONT-FAMILY: verdana,arial
}
