BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: arial
}
.date {
	BACKGROUND-POSITION: left bottom; PADDING-LEFT: 110px; BACKGROUND-IMAGE: url(images/newsupdate.gif); WIDTH: 360px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
.news {
	PADDING-LEFT: 15px; FONT-SIZE: 8pt
}
INPUT.orange {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ff9933
}
A.orange:link {
	COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange:visited {
	COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange:hover {
	COLOR: #ff9933; TEXT-DECORATION: underline
}
A:link {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3333ff
}
A {
	FONT-SIZE: 10pt; BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3333ff; TEXT-DECORATION: underline
}
A:active {
	COLOR: #3333ff
}
A.spdr:link {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; COLOR: #666666; TEXT-DECORATION: none
}
A.spdr:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; COLOR: #666666; TEXT-DECORATION: none
}
A.spdr:hover {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
A.spdr:active {
	FONT-WEIGHT: 600; FONT-SIZE: 10pt; COLOR: #666666; TEXT-DECORATION: none
}
.copy {
	FONT-SIZE: 8pt; COLOR: #999999
}
A.copy:link {
	FONT-SIZE: 8pt; COLOR: #999999; TEXT-DECORATION: none
}
A.copy:visited {
	FONT-SIZE: 8pt; COLOR: #999999; TEXT-DECORATION: none
}
A.copy:hover {
	FONT-SIZE: 8pt; COLOR: #000000; TEXT-DECORATION: none
}
A.copy:active {
	FONT-SIZE: 8pt; COLOR: #999999; TEXT-DECORATION: none
}
A.right-blend:link {
	COLOR: #660000; TEXT-DECORATION: none
}
A.right-blend:visited {
	COLOR: #660000
}
A.right-blend:hover {
	COLOR: #660000
}
.loggedin {
	FONT-SIZE: 8pt; COLOR: #ff9933
}
.loggedin_data {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff
}
.tutorial-title {
	FONT-SIZE: 13pt; COLOR: #000000
}
.tutorial-author {
	FONT-SIZE: 10pt; COLOR: #000000
}
.tutorial-body {
	FONT-SIZE: 10pt; COLOR: #000000
}
.tutorial-code {
	FONT-SIZE: 9pt; COLOR: #ff0000
}
.message {
	FONT-SIZE: 11pt; COLOR: #ff0000; TEXT-ALIGN: center
}
A.newsl:link {
	FONT-SIZE: 8pt; COLOR: #3333ff; TEXT-DECORATION: none
}
A.newsl:visited {
	FONT-SIZE: 8pt; COLOR: #3333ff; TEXT-DECORATION: none
}
A.newsl:hover {
	FONT-SIZE: 8pt; COLOR: #3333ff; TEXT-DECORATION: underline
}
A.newsl:active {
	FONT-SIZE: 8pt; COLOR: #3333ff; TEXT-DECORATION: none
}
