.blackbg {
	BACKGROUND-COLOR: black
}
.fj {
	TEXT-INDENT: 0.25in; TEXT-ALIGN: justify
}
.grey {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.greybg {
	BACKGROUND-COLOR: #cccccc
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-LEFT: 50px; COLOR: #cc3333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.heading2 {
	FONT-WEIGHT: 900; MARGIN-LEFT: 50px; COLOR: #cc3333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.pad {
	MARGIN-TOP: 5px; MARGIN-LEFT: 25px; MARGIN-RIGHT: 10px
}
.rbg {
	BACKGROUND: url(images/logo.gif) repeat-x
}
.redbg {
	BACKGROUND-COLOR: gray
}
.white {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.white2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.whitebg {
	BACKGROUND-COLOR: white
}
A.active {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: none
}
A.gnav:active {
	COLOR: black; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
A.gnav:hover {
	COLOR: olive; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: underline
}
A.gnav:link {
	COLOR: black; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
A.gnav:visited {
	COLOR: navy; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
A.active {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.white2:hover {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: underline
}
A.white2:link {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.white2:visited {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: underline
}
A:link {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: none
}
BODY {
	MARGIN: 0px
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
